<h1>Payment Success!</h1>
<h3>Invoice</h3>
<a>Payment Total: <%= Confirmdetails.first.ordertotal %><a><br>
  <a>Payment Status: <%= Confirmdetails.first.itemtotal %><a>
    <br><br>
    <%= link_to "Buy another apple", root_path %>